.ez-view-photosselectorview {
    display: flex;
    justify-content: center;
}

[class*="wsc-photos-selector__button--"] {
    flex: 1 1 10%;
    max-width: 2rem;
    font-size: 1rem !important;
    background: none;
    border: none;
    transition: background .3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    position: relative;
    z-index: 2;
}

[class*="wsc-photos-selector__button--"]:hover,
[class*="wsc-photos-selector__button--"]:focus {
    background: #bebebe;
}

.wsc-photos-selector__photos-wrapper {
    flex: 1 1 80%;
    overflow: hidden;
    width: 60vh;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.wsc-photos-selector__photos-list {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    left: 0;
    transition: left .3s cubic-bezier(.25,.8,.25,1);
}

.wsc-photos-selector__photo {
    border: 4px solid transparent !important;
    display: block;
    box-sizing: border-box;
    transition: border .3s cubic-bezier(.25,.8,.25,1);
    height: 10vh;
    max-height: 150px;
    width: auto;
}

.wsc-photos-selector__photo.wsc-is-selected {
    border-color: #b30 !important;
}
